<ion-header>
    <ion-navbar>
        <ion-select [(ngModel)]="subject">
            <ion-option value="Entrepreneurship">Entrepreneurship</ion-option>
            <ion-option value="Machine Learning">Machine Learning</ion-option>
            <ion-option value="Economy">Economy</ion-option>
        </ion-select>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card padding>
        <ion-card-header>{{data[i].n}}</ion-card-header>
        <ion-card-title padding>
            {{data[i].d}}
        </ion-card-title>
        <ion-card-content>
            <ion-item>
                Time
                <div style="display: flex;">
                    <div *ngFor="let i of data[i].time">
                        <div class="time-cube"></div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                Experience
                <div style="display: flex;">
                    <div *ngFor="let i of data[i].exp">
                        <div class="time-cube"></div>
                    </div>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <button ion-button class="round-button" color="danger" round (click)="click()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button class="round-button" color="secondary" round (click)="click()">
                    <ion-icon name="checkmark"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>