<ion-header>
    <ion-navbar>
        <ion-title>
            Matches
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-select [(ngModel)]="subject" (ngModelChange)="changeCourse($event)">
                <ion-option value="Entrepreneurship">Entrepreneurship</ion-option>
                <ion-option value="Machine Learning">Machine Learning</ion-option>
                <ion-option value="Economy">Economy</ion-option>
            </ion-select>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let d of values" padding>
        <ion-card-title>{{d.n}}</ion-card-title>
        <ion-card-content>
            <!--<ion-grid>-->
            <ion-item>
                {{d.d}}
            </ion-item>
            <ion-item>
                Time
                <div style="display: flex;">
                    <div *ngFor="let i of d.time">
                        <div class="time-cube"></div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                Experience
                <div style="display: flex;">
                    <div *ngFor="let i of d.exp">
                        <div class="time-cube"></div>
                    </div>
                </div>
            </ion-item>
            <div class="action">
                <button ion-button color="light" (click)="click(d)">Contact</button>
            </div>
            <!--</ion-grid>-->
        </ion-card-content>
    </ion-card>
</ion-content>
